<div class="container">
  <div class="row">
   <div class="col-xs-6 col-sm-12">
    <ul>
      <li>
        <strong>Name:</strong>
        <%= @tasklist["name"] %>
      </li>
      <li>
        <strong>Description:</strong>
        <%= @tasklist["description"] %>
      </li>
      <li>
        <strong>TASKS:</strong>
          <div class="list">
            <ol>
              <% @tasks.each do |task| %>
                <li>
                  <%= task["name"] %>
                  <p><%= task["description"] %></p>
                  <%= task["id"] %>
                  <p><%= link_to 'delete', tasklist_task_path(task["id"]), { action: :destroy, id: task["id"] }, method: :delete %></p>
                </li>
              <% end %>
            </ol>
          </div>
           <p><%= link_to "Add task", new_tasklist_task_path(@tasklist["id"]), {class: "btn btn-success"} %></p>
          <p><%= link_to 'Destroy this tasklist', { action: :destroy, id: @tasklist["id"] }, method: :delete %></p>
        </li>
      </ul>
    </div>
  </div>
</div>

